<div class="BodyContent">
    <ul>
        <li>
            <a href="../Home/GetEmployees">Работники</a>
        </li>

        <li>
            <a href="../Home/GetCompanies">Компании</a>
        </li>
    </ul>
</div>